
@import "~/bootstrap/scss/functions";
@import '_custom.scss';
@import '../helper/scss/variables';
@import '~/bootstrap/scss/bootstrap';
body{
  a{
    text-decoration: none !important;
  }
  span,p{
    font-size: 14px;
    line-height: 20px;
  }
}

/* border */

.br-4{
  border-radius:4px;
}

/* border */

/* Font */
.f-w400{
  font-weight: 400;
}
.f-w500{
  font-weight: 500;
}
/* Font */
